
header {
  display: flex;
}

.nav {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    color: white;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
  }