@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  height: 100px;
}

.nav {
  list-style-type: none;
  display: flex;
  gap: 60px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

a:hover,
a:focus {
  text-decoration: underline;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 0;
}

.pokeContainer {
  margin: 20px 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #dbdbdb;
  border-radius: 5%;
  border: #bdbdbd 1px solid;
}

.pokeContainer:hover {
  background-color: #e7e7ff;
  border: #0000ff77 1px solid;
}

.pokeImage {
  width: 120px;
  align-self: center;
}

.pokeAssets {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.pokeName {
  text-transform: capitalize;
}

.like {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.likeIcon {
  width: 20px;
  cursor: pointer;
}

.btn {
  margin: 10px 0;
  width: 60%;
  align-self: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #615eff;
  border: #0300b9 1px solid;
}

.btn:hover {
  background-color: #ffae00;
}

.reservation {
  width: 70%;
}

.footer {
  position: fixed;
  padding: 1rem;
  bottom: 0;
  width: 97%;
  border: 2px solid black;
}
